<mat-card class="mainCard">
    <div class="header">
        <img class="icon" src="../../../../assets/icons/return.svg" (click)="return()">
        <h1 style="margin: 0; margin-left: 40%;">Clases disponibles</h1>
    </div>
    <div class="row">
        <h2 class="item">ID</h2>
        <h2 class="item">Tipo</h2>
        <h2 class="item">Instructor(a)</h2>
        <h2 class="item">Modalidad</h2>
        <h2 class="item">Capacidad</h2>
        <h2 class="item">Fecha</h2>
        <h2 class="item">Horario</h2>
    </div>
    <div class="body">
        <div class="rowClass row" *ngFor="let class of allClasses">
            <h3 class="item">{{class.Id}}</h3>
            <h3 class="item">{{class.Tipo_Servicio}}</h3>
            <h3 class="item">{{formatInstructor(class.Instructor)}}</h3>
            <h3 class="item">{{class.Modalidad}}</h3>
            <h3 class="item">{{class.Capacidad}}</h3>
            <h3 class="item">{{formatDate(class.Fecha)}}</h3>
            <h3 class="item">{{class.Hora_Inicio}} - {{class.Hora_Final}}</h3>
        </div>
    </div>
    <div class="horizontalCenter">
        <h2>Crear clase</h2>
    </div>
    <div class="row">
        <input class="input" matInput type="text" placeholder=" Tipo" [(ngModel)]="newClass.Tipo_Servicio">
        <gt-drop-down
            [title]="'Instructor(a)'"
            [elemList]="instructorNames"
            (raiseEvent)="clickEvent($event)">
        </gt-drop-down>
        <gt-drop-down
            [title]="'Modalidad'"
            [elemList]="modality"
            (raiseEvent)="clickEvent($event)">
        </gt-drop-down>
        <input class="inputShort" matInput type="number" [(ngModel)]="newClass.Capacidad">
        <app-date-picker (raiseEvent)="clickEvent($event)"></app-date-picker>
        <gt-drop-down
            [title]="'Horario'"
            [elemList]="schedules"
            (raiseEvent)="clickEvent($event)">
        </gt-drop-down>
    </div>
    <div class="horizontalCenter">
        <button class="button" (click)="createClass()">Crear</button>
    </div>
</mat-card>