<mat-toolbar class="mainContainer">
    <button class="headerIcon" (click)="showProfile()">
        <img class="menuImg" src="../../../../assets/icons/menu.svg">
    </button>
    <button class="headerIcon" (click)="viewCalendar()">
        <img class="menuImg" src="../../../../assets/icons/calendar.svg">
    </button>
    <button class="headerIcon" style="margin-right: 70%;" (click)="generatePayroll()">
        <img class="menuImg" src="../../../../assets/icons/payments.svg">
    </button>
    <img class="logo" src="../../../../assets/images/logo.svg">
    <div class="buttonContainer">
        <button class="button" (click)="buttonClick('First')">
            <img class="icon" src="{{ headerButtons[0].icon }}">
            {{ headerButtons[0].text }}
        </button>
        <button class="button" (click)="buttonClick('Second')">
            <img class="icon" src="{{ headerButtons[1].icon }}">
            {{ headerButtons[1].text }}
        </button>
    </div>
</mat-toolbar>