$watermelon: #a8aff1;
$watermelonHover: rgba($watermelon, 0.8);
$carbon: #a9a9a9;

.mainContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  background-color: white;
}

.menuButton {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.menuButton:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.menuImg {
  width: 40px;
  height: 40px;
}

.logo {
  position: absolute;
  left: 48%;
  margin-left: -100px;
  align-self: center !important;
  height: 80px;
  width: 300px;
  background: none;
}

.buttonContainer {
  align-self: flex-end;
}

.icon {
  line-height: 70px;
  vertical-align: middle;
}

.button {
  font-size: 24px;
  line-height: 70px;
  margin-left: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba($color: $watermelon, $alpha: 0.6);
  width: 200px;
}

.text {
  display: flex;
  flex-wrap: wrap;
}

.button:hover {
  background-color: rgba($color: $watermelon, $alpha: 0.5);
}
