<mat-card class="mainCard" *ngIf="!edit">
  <div class="iconContainer">
    <img
      class="icon"
      src="../../../../assets/icons/return.svg"
      (click)="return()"
    />

    <img
      class="icon"
      src="../../../../assets/icons/edit.svg"
      (click)="editProduct()"
    />
  </div>

  <p>Nombre: {{ employeeData.Nombre }}</p>

  <p>Apellidos: {{ employeeData.Apellidos }}</p>

  <p>Email: {{ employeeData.Email }}</p>

  <p>Cedula: {{ employeeData.Cedula }}</p>

  <p>Provincia: {{ employeeData.Provincia }}</p>

  <p>Cantón: {{ employeeData.Canton }}</p>

  <p>Distrito: {{ employeeData.Distrito }}</p>

  <p>Planilla: {{ employeeData.Planilla }}</p>

  <p>Puesto: {{ employeeData.Puesto }}</p>

  <p>Salario: {{ employeeData.Salario }}</p>

  <p>Sucursal: {{ employeeData.Sucursal }}</p>
</mat-card>

<mat-card class="mainCard" *ngIf="edit">
  <div class="iconContainer">
    <img
      class="icon"
      src="../../../../assets/icons/return.svg"
      (click)="cancel()"
    />

    <img
      class="icon"
      src="../../../../assets/icons/save.svg"
      (click)="saveChanges()"
    />
  </div>

  <div class="line">
    <h1 class="tag">Nombre:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableEmployeeData.Nombre"
    />
  </div>

  <div class="line">
    <h1 class="tag">Apellidos:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableEmployeeData.Apellidos"
    />
  </div>

  <div class="line">
    <h1 class="tag">Cedula:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableEmployeeData.Cedula"
    />
  </div>

  <div class="line">
    <h1 class="tag">Email:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableEmployeeData.Email"
    />
  </div>

  <div class="line">
    <h1 class="tag">Provincia:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableEmployeeData.Provincia"
    />
  </div>

  <div class="line">
    <h1 class="tag">Cantón:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableEmployeeData.Canton"
    />
  </div>

  <div class="line">
    <h1 class="tag">Distrito:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableEmployeeData.Distrito"
    />
  </div>

  <div class="line">
    <h1 class="tag">Planilla:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableEmployeeData.Planilla"
    />
  </div>

  <div class="line">
    <h1 class="tag">Puesto:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableEmployeeData.Puesto"
    />
  </div>

  <div class="line">
    <h1 class="tag">Salario:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableEmployeeData.Salario"
    />
  </div>

  <div class="line">
    <h1 class="tag">Sucursal:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableEmployeeData.Sucursal"
    />
  </div>

  <button class="deleteButton" (click)="delete()">
    <img class="icon" src="../../../../assets/icons/remove.svg" />
    Eliminar equipo
  </button>
</mat-card>
