<div class="mainContainer">
    <mat-card class="card">
        <div class="horizontalContainer">
            <form>
                <div class="verticalContainer">
                    <mat-form-field class="inputLong">
                        <input matInput #message name="name" placeholder="Nombre" [(ngModel)]="newClient.nombre">
                    </mat-form-field>
                    <mat-form-field class="inputLong">
                        <input matInput #message name="lastName" placeholder="Apellidos" [(ngModel)]="newClient.apellidos">
                    </mat-form-field>
                    <mat-form-field class="inputLong">
                        <input matInput #message name="id" placeholder="Cedula" [(ngModel)]="newClient.cedula">
                    </mat-form-field>
                    <app-date-picker (raiseEvent)="clickEvent($event)"></app-date-picker>
                    <mat-form-field class="inputLong">
                        <input matInput type="number" #message name="weight" placeholder="Peso" [(ngModel)]="newClient.peso">
                    </mat-form-field>
                </div>
            </form>
            <form>
                <div class="verticalContainer">
                    <mat-form-field class="inputLong">
                        <input matInput type="number" #message name="age" placeholder="Edad" [(ngModel)]="newClient.edad">
                    </mat-form-field>
                    <mat-form-field class="inputLong">
                        <input matInput type="number" #message name="imc" placeholder="IMC" [(ngModel)]="newClient.imc">
                    </mat-form-field>
                    <mat-form-field class="inputLong">
                        <input matInput #message name="address" placeholder="Direccion" [(ngModel)]="newClient.direccion">
                    </mat-form-field>
                    <mat-form-field class="inputLong">
                        <input matInput #message name="email" placeholder="Correo" [(ngModel)]="newClient.email">
                    </mat-form-field>
                    <mat-form-field class="inputLong">
                        <input matInput type="password" name="password" placeholder="Contraseña" [(ngModel)]="newClient.password">
                    </mat-form-field>
                </div>
            </form>
        </div>
        <button class="signUpButton" (click)="register()">Registrar</button>
    </mat-card>
</div>