.mainContainer {
  display: flex;
  flex-direction: column;
  height: 92vh;
  width: 100vw;
  flex-wrap: nowrap;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 5%;
}

.arrowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
  margin-left: 10px;
}

.button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50px;
}

.button:hover {
  background-color: rgba($color: #000000, $alpha: 0.1);
}

.day {
  display: flex;
  flex-direction: column;
  width: 14%;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  overflow-y: auto;
  height: 100%;
}

.hourColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 62px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 6%;
  width: 100vw;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba($color: #000000, $alpha: 0.2);
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 14%;
}

.event {
  background-color: rgba($color: royalblue, $alpha: 0.3);
}
