<mat-card class="mainCard">
  <div class="iconContainer">
    <img
      class="icon"
      src="../../../../assets/icons/return.svg"
      (click)="return()"
    />

    <img
      class="icon"
      src="../../../../assets/icons/save.svg"
      (click)="saveChanges()"
    />
  </div>

  <div class="line">
    <h1 class="tag">Nombre:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="newEmployee.Nombre"
    />
  </div>

  <div class="line">
    <h1 class="tag">Apellidos:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="newEmployee.Apellidos"
    />
  </div>

  <div class="line">
    <h1 class="tag">Cedula:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="newEmployee.Cedula"
    />
  </div>

  <div class="line">
    <h1 class="tag">Province:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="newEmployee.Provincia"
    />
  </div>

  <div class="line">
    <h1 class="tag">Cantón:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="newEmployee.Canton"
    />
  </div>

  <div class="line">
    <h1 class="tag">Distrito:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="newEmployee.Distrito"
    />
  </div>

  <div class="line">
    <h1 class="tag">Email:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="newEmployee.Email"
    />
  </div>
  <div class="line">
    <h1 class="tag">Contraseña:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="newEmployee.Contrasena"
    />
  </div>

  <div class="line">
    <h1 class="tag">Planilla:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="newEmployee.Planilla"
    />
  </div>

  <div class="line">
    <h1 class="tag">Puesto:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="newEmployee.Puesto"
    />
  </div>

  <div class="line">
    <h1 class="tag">Salario:</h1>
    <input
      type="number"
      class="input clickable"
      [(ngModel)]="newEmployee.Salario"
    />
  </div>

  <div class="line">
    <h1 class="tag">Sucursal:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="newEmployee.Sucursal"
    />
  </div>
</mat-card>
