<mat-card class="mainCard" *ngIf="!edit">
  <div class="iconContainer">
    <img
      class="icon"
      src="../../../../assets/icons/return.svg"
      (click)="return()"
    />

    <img
      class="icon"
      src="../../../../assets/icons/edit.svg"
      (click)="editProduct()"
    />
  </div>

  <p>Marca: {{ equipmentData.Marca }}</p>
  <p>Precio: {{ equipmentData.Costo }}</p>
  <p>Serial: {{ equipmentData.Serial }}</p>
  <p>Sucursal: {{ equipmentData.Sucursal }}</p>
  <p>Tipo: {{ equipmentData.Tipo_Equipo }}</p>
</mat-card>

<mat-card class="mainCard" *ngIf="edit">
  <div class="iconContainer">
    <img
      class="icon"
      src="../../../../assets/icons/return.svg"
      (click)="cancel()"
    />

    <img
      class="icon"
      src="../../../../assets/icons/save.svg"
      (click)="saveChanges()"
    />
  </div>

  <div class="line">
    <h1 class="tag">Marca:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableTreatmentData.Marca"
    />
  </div>

  <div class="line">
    <h1 class="tag">Precio:</h1>
    <input
      type="number"
      class="input clickable"
      [(ngModel)]="editableTreatmentData.Costo"
    />
  </div>

  <div class="line">
    <h1 class="tag">SerialNo:</h1>
    <input
      type="number"
      class="input clickable"
      [(ngModel)]="editableTreatmentData.Serial"
    />
  </div>

  <div class="line">
    <h1 class="tag">Sucursal:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableTreatmentData.Sucursal"
    />
  </div>

  <div class="line">
    <h1 class="tag">Tipo:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableTreatmentData.Tipo_Equipo"
    />
  </div>

  <button class="deleteButton" (click)="delete()">
    <img class="icon" src="../../../../assets/icons/remove.svg" />
    Eliminar equipo
  </button>
</mat-card>
