<mat-card class="mainCard">
  <div class="iconContainer">
    <img
      class="icon"
      src="../../../../assets/icons/return.svg"
      (click)="return()"
    />

    <img
      class="icon"
      src="../../../../assets/icons/save.svg"
      (click)="saveChanges()"
    />
  </div>

  <div class="line">
    <h1 class="tag">Nombre:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="newEquipment.name"
    />
  </div>

  <div class="line">
    <h1 class="tag">Marca:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="newEquipment.brand"
    />
  </div>

  <div class="line">
    <h1 class="tag">Precio:</h1>
    <input
      type="number"
      class="input clickable"
      [(ngModel)]="newEquipment.price"
    />
  </div>

  <div class="line">
    <h1 class="tag">SerialNo:</h1>
    <input
      type="number"
      class="input clickable"
      [(ngModel)]="newEquipment.serialNo"
    />
  </div>

  <div class="line">
    <h1 class="tag">Surcursal:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="newEquipment.site"
    />
  </div>

  <div class="line">
    <h1 class="tag">Tipo:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="newEquipment.type"
    />
  </div>
</mat-card>
