<mat-card class="mainCard">
  <div class="iconContainer">
    <img
      class="icon"
      src="../../../../assets/icons/return.svg"
      (click)="return()"
    />

    <img
      class="icon"
      src="../../../../assets/icons/save.svg"
      (click)="saveChanges()"
    />
  </div>

  <div class="line">
    <h1 class="tag">Marca:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="newEquipment.Marca"
    />
  </div>

  <div class="line">
    <h1 class="tag">Precio:</h1>
    <input
      type="number"
      class="input clickable"
      [(ngModel)]="newEquipment.Costo"
    />
  </div>

  <div class="line">
    <h1 class="tag">SerialNo:</h1>
    <input
      type="number"
      class="input clickable"
      [(ngModel)]="newEquipment.Serial"
    />
  </div>

  <div class="line">
    <h1 class="tag">Surcursal:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="newEquipment.Sucursal"
    />
  </div>

  <div class="line">
    <h1 class="tag">Tipo:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="newEquipment.Tipo_Equipo"
    />
  </div>
</mat-card>
