<mat-card class="mainCard" *ngIf="!edit">
  <div class="iconContainer">
    <img
      class="icon"
      src="../../../../assets/icons/return.svg"
      (click)="return()"
    />

    <img
      class="icon"
      src="../../../../assets/icons/edit.svg"
      (click)="editProduct()"
    />
  </div>

  <p>Nombre: {{ siteData.Nombre }}</p>
  <p>Cantón: {{ siteData.Canton }}</p>
  <p>Capacidad: {{ siteData.Capacidad_Max }}</p>
  <p>Distrito: {{ siteData.Distrito }}</p>
  <p>Manager ID: {{ siteData.Gerente }}</p>
  <p>Fecha de apertura: {{ siteData.Fecha_Apertura }}</p>
  <p>Numeros de teléfono:</p>
  <p *ngFor="let telefono of siteData.Telefonos">{{ telefono.Telefono }}</p>
  <p>Provincia: {{ siteData.Provincia }}</p>
  <p>Horarios:</p>
  <p *ngFor="let horario of siteData.Horarios">
    {{ horario.Dia }}
    {{ horario.Hora_Apertura }}
    {{ horario.Hora_Cierre }}
  </p>

  <button type="button" (click)="activateSpa()">Activación Spa</button>
  <button type="button" (click)="activateStore()">Activación Tienda</button>
</mat-card>

<mat-card class="mainCard" *ngIf="edit">
  <div class="iconContainer">
    <img
      class="icon"
      src="../../../../assets/icons/return.svg"
      (click)="cancel()"
    />

    <img
      class="icon"
      src="../../../../assets/icons/save.svg"
      (click)="saveChanges()"
    />
  </div>

  <div class="line">
    <h1 class="tag">Nombre:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableSiteData.Nombre"
    />
  </div>

  <div class="line">
    <h1 class="tag">Provincia:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableSiteData.Provincia"
    />
  </div>

  <div class="line">
    <h1 class="tag">Cantón:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableSiteData.Canton"
    />
  </div>

  <div class="line">
    <h1 class="tag">Distrito:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableSiteData.Distrito"
    />
  </div>

  <div class="line">
    <h1 class="tag">Capacidad:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableSiteData.Capacidad_Max"
    />
  </div>

  <div class="line">
    <h1 class="tag">Manager ID:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableSiteData.Gerente"
    />
  </div>

  <div class="line">
    <h1 class="tag">Fecha de apertura:</h1>
    <input
      type="text"
      class="input clickable"
      [(ngModel)]="editableSiteData.Fecha_Apertura"
    />
  </div>

  <div class="bottomContainer">
    <h2>Teléfono(s)</h2>
    <div
      class="addressBox"
      *ngFor="let address of this.siteData.Telefonos; let i = index"
    >
      <input
        type="text"
        class="input clickable"
        [(ngModel)]="editableSiteData.Telefonos[i].Telefono"
      />
      <img
        class="icon"
        src="../../../../assets/icons/remove.svg"
        (click)="removeAddress(address.Telefono)"
      />
    </div>

    <input
      type="text"
      class="input clickable"
      [(ngModel)]="newPhoneNumber.Telefono"
    />
    <img
      class="icon"
      src="../../../../assets/icons/add.svg"
      (click)="addAddress()"
    />
  </div>

  <div class="bottomContainer">
    <h2 class="tag">Horario(s):</h2>
    <div class="addressBox" *ngFor="let address of this.siteData.Horarios">
      <input
        type="text"
        class="input clickable"
        placeholder="Dia"
        [(ngModel)]="address.Dia"
      />
      <input
        type="text"
        class="input clickable"
        placeholder="Dia"
        [(ngModel)]="address.Hora_Apertura"
      />
      <input
        type="text"
        class="input clickable"
        placeholder="Dia"
        [(ngModel)]="address.Hora_Cierre"
      />
      <img
        class="icon"
        src="../../../../assets/icons/remove.svg"
        (click)="removeSchedule(address)"
      />
    </div>

    <input
      type="text"
      class="input clickable"
      placeholder="Dia"
      [(ngModel)]="newSchedule.Dia"
    />

    <input
      type="text"
      class="input clickable"
      placeholder="Hora inicio"
      [(ngModel)]="newSchedule.Hora_Apertura"
    />

    <input
      type="text"
      class="input clickable"
      placeholder="Hora cierre"
      [(ngModel)]="newSchedule.Hora_Cierre"
    />

    <img
      class="icon"
      src="../../../../assets/icons/add.svg"
      (click)="addSchedule()"
    />
  </div>

  <button class="deleteButton" (click)="delete()">
    <img class="icon" src="../../../../assets/icons/remove.svg" />
    Eliminar equipo
  </button>
</mat-card>
