<mat-card class="mainCard">
    <div class="header">
        <img class="icon" src="../../../../assets/icons/return.svg" (click)="return()">
        <gt-drop-down
            style="margin-left: 24%;"
            [title]="'Sucursal'"
            [elemList]="branchNames"
            (raiseEvent)="clickEvent($event)">
        </gt-drop-down>
    </div>
    <div *ngIf="boolSelectedBranch" class="body">
        <div class="column">
            <h2>Inventario sin asociar</h2>
            <div *ngFor="let element of notLinkedValues" class="selectableItem" (click)="linkInventory(element.Serial)">
                {{element.Serial}}
            </div>
        </div>
        <div class="column">
            <h2>Inventario asociado</h2>
            <div *ngFor="let element of selectedBranch.inventory" class="selectableItem" (click)="deleteInventory(element.Serial)">
                {{element.Serial}}
            </div>
        </div>
    </div>
</mat-card>